*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin: 0;
}
[data-slick]{
	margin-bottom: 0;
}
img{
  max-width: 100%;
}
[data-map] img{
	max-width: inherit;
}
[data-map-route] span{
	display: block;
}
.slick-prev{
	left: 0;
}

.slick-next{
	right: 0;
}

ul.nav{
	position: absolute;
}

[data-sticky-nav]{
	border-bottom: 1px solid #ddd;
	background: #fff;
	text-align: center;
}

[data-sticky-nav] h2{
	margin: 0;
	padding: 20px 0;
}

.scroller{
	max-width: 600px;
	margin: 0 auto;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0 20px;
}

.scroller img{
	margin: 0 -21px;
	max-width: 120%;
}

[data-sticky-nav].sticky{
    position: fixed;
    top: 0;
}